In [4]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
df = pd.read_csv("homeprices3.csv")
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [10]:
from sklearn.model_selection import train_test_split 
df = pd.read_csv("homeprices3.csv")
df = pd.get_dummies(df)
df
y = df["price"]
X = df
X.drop("price", inplace=True, axis='columns')
X

    area  town_monroe township  town_robinsville  town_west windsor
0   2600                     1                 0                  0
1   3000                     1                 0                  0
2   3200                     1                 0                  0
3   3600                     1                 0                  0
4   4000                     1                 0                  0
5   2600                     0                 0                  1
6   2800                     0                 0                  1
7   3300                     0                 0                  1
8   3600                     0                 0                  1
9   2600                     0                 1                  0
10  2900                     0                 1                  0
11  3100                     0                 1                  0
12  3600                     0                 1                  0

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=3)
model = LinearRegression()
model.fit(X_train, y_train)
print(model.coef_)
print(model.intercept_)
model.score(X_test,y_test)

[   122.81449893 -16769.13053779   2632.0777067   14137.05283108]
245283.70054489363

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

0.9115296637502068

In [52]:
print(model.predict([[1000, 1, 0, 0], [1000, 0, 1, 0]]))
print(model.predict([[2000, 1, 0, 0], [2000, 0, 1, 0]]))

[351329.06894101 370730.2771855 ]
[474143.56787491 493544.7761194 ]

In [56]:
from sklearn.model_selection import train_test_split 
df = pd.read_csv("homeprices3.csv")
df = pd.get_dummies(df)
df
y = df["price"]
X = df
X.drop("price", inplace=True, axis='columns')
X
X["town_monroe township"]= X["town_monroe township"]*X["area"]
X["town_robinsville"]= X["town_robinsville"]*X["area"]
X["town_west windsor"]= X["town_west windsor"]*X["area"]
X
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8)
model = LinearRegression()
model.fit(X_train, y_train)
print(model.coef_)
model.intercept_
model.score(X_test,y_test)

[93.2791713  25.63460936 31.88572734 35.7588346 ]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

0.8340354451490428

In [58]:
print(model.predict([[1000, 1000, 0, 0], [1000, 0, 1000, 0]]))
print(model.predict([[2000, 2000, 0, 0], [2000, 0, 2000, 0]]))

[359510.23356045 365761.35154484]
[478424.01421164 490926.25018043]

In [60]:
print(model.intercept_)

240596.45290925365

In [70]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
df = pd.read_csv("homeprices3.csv")
df
L1 = LabelEncoder()
df["town"] = L1.fit_transform(df["town"])
df
# help(OneHotEncoder)
# on = OneHotEncoder(categorical_features=[0])
# df = on.fit_transform(df).toarray()
# df

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000